In [2]:
#Problem1
class Calculator:
    def calculate(self, a, b, operation):
        if operation == '+':
            return a + b
        elif operation == '-':
            return a - b
        elif operation == '*':
            return a * b
        elif operation == '/':
            if b != 0:
                return a / b
            else:
                return "Error: Division by zero"
        else:
            return "Error: Invalid operation"

calc = Calculator()
print(calc.calculate(10, 5, '+'))
print(calc.calculate(10, 5, '-'))
print(calc.calculate(10, 5, '*'))
print(calc.calculate(10, 5, '/'))
print(calc.calculate(10, 0, '/'))
print(calc.calculate(10, 5, '%'))

15
5
50
2.0
Error: Division by zero
Error: Invalid operation

In [3]:
#Problem2
def generate_series(x):
    return ', '.join(str(i) for i in range(1, 2*x, 2))

for i in range(1, 6):
    print(f"Input a = {i}, Output: {generate_series(i)}")

Input a = 1, Output: 1
Input a = 2, Output: 1, 3
Input a = 3, Output: 1, 3, 5
Input a = 4, Output: 1, 3, 5, 7
Input a = 5, Output: 1, 3, 5, 7, 9

In [4]:
#Problem3

def generate_series_3(x):
    if x < 3:
        return "1"
    return ', '.join(str(i) for i in range(1, 2*((x+1)//2), 2))

for i in range(1, 8):
    print(f"Input a = {i}, Output: {generate_series_3(i)}")

Input a = 1, Output: 1
Input a = 2, Output: 1
Input a = 3, Output: 1, 3
Input a = 4, Output: 1, 3
Input a = 5, Output: 1, 3, 5
Input a = 6, Output: 1, 3, 5
Input a = 7, Output: 1, 3, 5, 7

In [5]:
#Problem4
def count_multiples(numbers):
    result = {i: 0 for i in range(1, 10)}
    for num in numbers:
        for i in range(1, 10):
            if num % i == 0:
                result[i] += 1
    return result

input_list = [1, 2, 8, 9, 12, 46, 76, 82, 15, 20, 30]
print(count_multiples(input_list))

{1: 11, 2: 8, 3: 4, 4: 4, 5: 3, 6: 2, 7: 0, 8: 1, 9: 1}